
.company {
  width: 58%;
}
.title {
  width: 66.5%;
}
.error{
  color: red;
  font-size: smaller;
  margin-left: 21%;
}
.error1 {
  color: red;
  font-size: smaller;
  margin-left: 12%;
}
.dateerror {
  color: red;
  font-size: smaller;
  margin-top: -5px;
}